h3#c-display-area__currentProfit 現在の評価損益: {{currentProfit}}
h3#c-display-area__new-ap {{newAP}}
h3#c-display-area__newProfit {{newProfit}}

button#reflect-btn(
  type="button"
  @click="reflect"
  :disabled="!isValid"
  ) 反映させる
  