<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Stock Price
    link(rel="stylesheet", href="style.css")
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  body
    main#app
      .c-input-area
        include component/input-area.pug
      .c-display-area
        include component/display-area.pug
    script(src="main.js")