body {
  background: #fafafa;
  margin: 50px auto 0;
  max-width: 70%;
}

.c-input-area {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.c-input-area__row {
  display: flex;
}

.c-input-area__row__title {
  &::after {
    content: '-->';
  }
}

.c-display-area {
  text-align: center;
}
